*.zip

apigateway/*
!apigateway/*.py
!apigateway/pip_requirements
!apigateway/routes
!apigateway/models
apigateway/flask_lambda.py
apigateway/itsdangerous.py
!apigateway/schemas
apigateway/semver.py
!apigateway/swagger.yaml

lambdas/*/*/